@model Contact
<h2>Create a New Contact</h2>
@using (Html.BeginForm("InsertContactToDatabase", "Contact", "Post"))
{
    <input asp-for="ID" type="hidden" value="" />
    <label asp-for="FirstName" class="control-label">First Name</label>
    <input type="text" name="FirstName" class="form-control" value="" />
    <label asp-for="LastName" class="control-label">Last Name</label>
    <input type="text" name="LastName" class="form-control" value="" />
    <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
    <input type="text" name="PhoneNumber" class="form-control" />
    <label asp-for="StreetAddress" class="control-label">Street</label>
    <input type="text" name="StreetAddress" class="form-control" value="" />
    <label asp-for="City" class="control-label">City</label>
    <input type="text" name="City" class="form-control" value="" />
    <label asp-for="State" class="control-label">State</label>
    <input type="text" name="State" class="form-control" value="" />
    <label asp-for="Zip" class="control-label">Zip Code</label>
    <input type="text" name="Zip" class="form-control" value="" />
    <label asp-for="Birthday" class="control-label">Birthday</label>
    <input type="text" name="Birthday" class="form-control" value="" />
  

    <div class="form-group">

        <label asp-for="CategoryName">Select a Relation</label>
        <select class="form-control" name="CategoryName" value="">
            @foreach (var cat in Model.CategoryName)
            {
            <option value="@cat.CategoryID">@cat.CategoryID. @cat.CategoryName</option>
            }
        </select>
    </div>
    <input type="submit" value="Create Contact" class="btn btn-primary" />
}


